<!DOCTYPE html>

<html>
  <body>
    <div id="home-carousel" class="carousel slide">
      <!-- Indicators -->

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active homeImg">
          <img src="/images/jay_tandem.jpg" alt="Tandem Skydive">
          <div class="carousel-caption">
            <h3>Experience the thrill of a lifetime!</h3>
          </div>
        </div>
        <div class="item homeImg">
          <img src="/images/john_exit.jpg" alt="Tandem Exit">
          <div class="carousel-caption">
            <h3>Tandem Skydive from 10,000 feet!</h3>
          </div>
        </div>
        <div class="item homeImg">
          <img src="/images/murray_iad.jpg" alt="IAD Jump">
          <div class="carousel-caption">
            <h3>Instructor-Aided Deployment</h3>
          </div>
        </div>
        <div class="item homeImg">
          <img src="/images/russ_linda_tandem.jpg" alt="Tandem Skydive">
          <div class="carousel-caption">
            <h3>More fun than you can imagine!</h3>
          </div>
        </div>
        <div class="item homeImg">
          <img src="/images/jack_student_smile.jpg" alt="Student Skydive">
          <div class="carousel-caption">
            <h3>Learn to Skydive on your own!</h3>
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#home-carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#home-carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  	<p>
	    Seven Hills Skydivers of Madison, WI is a not for profit, all volunteer, member owned and operated club. In business to promote skydiving and introduce people to the sport by training skydive students and performing skydive demonstration jumps, we have been in existence since 1962, for over 51 years. Safety is our main priority and our record is second to none!
    </p>

    <p>
      The home of World Record holders, National Champions, and the 7 Hills Rhythm and Booms Skydive Demo Team, the club is located about 15 minutes past East Towne Mall just outside Madison, Wisconsin. 
    </p>

    <p>
      For the 19th year in a row, Seven Hills Skydivers of Madison, Wisconsin has donated jumps to the WPT TV Auction. Make a bid to possibility get an inexpensive skydive! We've also made donations to other causes such as the MATC Foundation, UW Police K9 unit, Badger Honor Flight, Multiple Sclerosis Society, Big Brothers Big Sisters, Henry Vilas Zoo, Dean Foundation, Madison Fire Dept and the Red Cross.
    </p>

    <p>
    	Seven Hills uses modern, state of the art skydiving equipment:
    	<ul>
    		<li>Ram Air (square) parachutes that actually inflate and glide through the air for slow descents and soft landings</li>
    		<li>Automatic Activation Devices (AADs) that will automatically open your reserve parachute if necessary</li>
    		<li>The user of helmet, googles, jumpsuit, altimeter, and radio enable us to help you fly your parachute and make a safe, soft landing</li>
    		<li>Two Cessna 182 aircraft, both flown by commercially licensed pilots</li>
    </p>
  </body>
</html>